*{
    box-sizing: border-box;
}


body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    font-size: x-large;

}

h1{
    font-size: 500%;
    margin: 0;
}




.banner-img{
    background-image: url("../background.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 170%;
}
.banner-text{
    position: absolute;
    opacity: 1;
    color: white;
}

a{
    color: #F3E96B;
    font-weight: bold;
}
button {
    background-color: #1E88E5;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #07CFF0;
}

table, th, td {
    border: 2px solid #1ECFD6;
    text-align: center;


}
thead{
    background: rgba(5,172,211,0.5);
}
th, td {
    padding: 10px;

}

tr:nth-child(even){
    background: rgba(222,140,240,0.5);

}

tr:nth-child(odd){
    background: rgba(163,88,109,0.5);
}