{% extends 'layout.html' %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">Ask Mate Application</h1>

    <a href="/list">See all questions</a><br>

    <form action="/search" method="get">
        <label for="question">Search in:&nbsp;&nbsp;</label>
        <input type="text" id="question" name="q" placeholder="questions/descriptions/answers" required>&nbsp;&nbsp;
        <input type="submit" value="search">
    </form>

    {% if query %}
        <h2>Results for "<mark>{{ quest }}</mark>":</h2>
        <h3>{{ count }} result(s)</h3>
        {% if questions %}
            {% for question in questions%}
            <p><a href="/question/{{question['id']}}">{{ question['title'] }}</a></p>
            {% endfor %}
        {% else %}
            <p>Database has no results for "<mark>{{ quest }}</mark>"!</p>
        {% endif %}
    {% else %}
        <h2>Latest Questions</h2>
        {% if questions %}
            {% for question in questions %}
                <p><a href="/question/{{question['id']}}">{{ question['title'] }}</a></p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}