<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/list.css")}}">
</head>

<body>
    <div class="banner-img">
    <div class="banner-text">
    <h1>Ask Mate</h1>
    <button type="submit" id="ask_button"><a href="/add-question">Ask a question</a></button>
    <br><br>
    <form action="/list" method="POST">
        <label for="sorting">Select sorting type by:</label>
        <select id="sorting" name="sorting">
            <option value="title">Title</option>
            <option value="submission_time">Submission Time</option>
            <option value="message">Message</option>
            <option value="view_number">Number of Views</option>
            <option value="vote_number">Number of Votes</option>
        </select>
        <br><br>
        <label for="sort">Sorting Order:</label>
        <select id="sort" name="sort">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </select>
        <button type="submit">Sort</button>
        <br><br>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>SUBMISSION TIME</th>
                <th>VIEWS</th>
                <th>VOTES</th>
                <th>TITLES</th>
                <th>MESSAGE</th>
                <th>IMAGE</th>
            </tr>
        </thead>
        <tbody>
            {% for dictionary in questions_list %}
            <tr>
                {% for key in dictionary %}
                    {% if key == 'title' %}
                    <td><a href="/question/{{ dictionary['id'] }}">{{ dictionary[key] }}</a></td>
                    {% else %}
                    <td>{{ dictionary[key] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</body>

</html>