<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Answer</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/formular.css")}}">
</head>
<body>
    <div class="banner-img">
    <div class="banner-text">
    <h1>Add an answer</h1>
    <form action="/question/{{question_id}}/new-answer" method="POST" enctype="multipart/form-data">
        <label for="message">Your answer:</label><br><br>
        <textarea id="message" rows="10" cols="100" name="message" placeholder="Type your answer here!" required></textarea><br><br>

        <label for="image">Upload new Image</label>
        <input type="file" id="image" name="image_file"><br><br>

        <button type="submit">Submit</button>
    </form>
    </div>
    </div>
</body>
</html>