<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <h1>{{ question }}</h1>
    <h2>{{ question_message }}</h2>
    <img src="{{ image }}" height="400">
    <br>
    <button type="submit"><a href="/question/{{question_id}}/edit">Edit question</a></button>
    <button type="submit"><a href="/question/{{question_id}}/new-answer">Add an answer</a></button>
    <button type="submit"><a href="/question/{{question_id}}/delete">Delete </a></button>
    <h2>Answers:</h2>
    <ul>
        {% for row in answer_images %}
            <li>{{ row[4] }}<button type="submit"><a href="/answer/{{row[0]}}/delete">Delete </a></button></li>
            <img src="../static/{{ row[5] }}" height="200">
        {% endfor %}
    </ul>
</body>
</html>